script(type="text/javascript" src="/js/vendor/jquery.js")
script(type="text/javascript" src="/js/vendor/angular.js")
script(type="text/javascript" src="/js/vendor/angular-resource.js")
script(type="text/javascript" src="/js/vendor/angular-route.js")
script(type="text/javascript" src="/js/vendor/toastr.js")